<div class="modal-header">
  <h3 class="modal-title">Edit interval [{{ interval.lower }}:{{ interval.upper }}]</h3>
</div>
<div class="modal-body">

  <table ng-table class="table table-condensed" show-filter="false">
    <tr ng-repeat="record in interval.records">
      <td title="'Order'">{{ record.order }}</td>
      <td title="'Preference'">{{ record.preference }}</td>
      <td title="'Flag'">{{ record.flag }}</td>
      <td title="'Service'">{{ record.service }}</td>
      <td title="'Regex'">{{ record.regex }}</td>
      <td title="'Replacement'">{{ record.replacement }}</td>
      <td>
        <a><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        <a><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </td>
    </tr>
  </table>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="save()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
