<form name="intervalForm">
  <div class="modal-header">
    <h3 class="modal-title">Split [{{ interval.lower }}:{{ interval.upper }}]</h3>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-body">

  </div>
  <div class="modal-header">
    <h3 class="modal-title">Down [{{ interval.lower }}:{{ interval.upper }}]</h3>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="intervalForm.$pristine || intervalForm.$invalid " ng-click="save()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>

</form>
